{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/home.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid presentation pt-5 pb-3 pl-5 pr-5">
    {% include 'parts/_flash_messages.html.twig' %}
    <section class="row text-center">
        <div class="col-12 mt-4 mb-2">
            <img id="avatar" class="rounded-circle" alt="avatar" src="{{ asset('build/images/person/avatar.png') }}"/>
        </div>
        <div class="col-12 mt-2 mb-4">
            <h2 class="h2-responsive text-uppercase font-weight-bold">Aurelien Morvan</h2>
            <h1 class="h1-responsive ">
                {{ 'text.home.title'|trans }}
            </h1>
            <p>
                {{ 'text.home.description'|trans|raw }}
            </p>
            <div class="d-flex justify-content-center pt-3">
                <a href="https://github.com/AurelienMo" target="_blank">
                    <i class="fab fa-2x fa-github p-3"></i>
                </a>
                <a href="https://www.linkedin.com/in/aurelien-morvan-48158386/" target="_blank">
                    <i class="fab fa-2x fa-linkedin-in p-3"></i>
                </a>
                <a href="https://twitter.com/aurelienm13" target="_blank">
                    <i class="fab fa-2x fa-twitter p-3"></i>
                </a>
                <a href="https://www.facebook.com/aurelien.morvan.5" target="_blank">
                    <i class="fab fa-2x fa-facebook-f p-3"></i>
                </a>
            </div>
        </div>
    </section>
</div>
<div class="container contact">
    <section class="mb-4">
        <h2 class="h1-responsive font-weight-bold text-center my-4">{{ 'form.contact.title'|trans }}</h2>
        <div class="row justify-content-center">
            <div class="col-md-6 mb-md-0 mb-5">
                {% form_theme form 'forms/_contact.html.twig' %}
                {{ form(form) }}
            </div>

        </div>

    </section>
    <!--Section: Contact v.2-->
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/home.js') }}"></script>
{% endblock %}
