{% extends 'forms/_layout.html.twig' %}

{% block form %}
    {{ form_start(form, {'attr': {'class': 'ajaxForm'}}) }}
    <div class="row">
        <div class="col-12">
                {{ form_errors(form.identifier) }}
            <div class="md-form">
                {{ form_label(form.identifier) }}
                {{ form_widget(form.identifier) }}
            </div>
        </div>
    </div>
    <div class="text-center text-md-center">
        <button type="submit" class="btn btn-rounded">{{ 'form.btn.submit'|trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
