<header>
    <nav class="navbar fixed-top navbar-dark elegant-color">
        <button class="navbar-toggler first-button text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent22"
                aria-controls="navbarSupportedContent22" aria-expanded="false" aria-label="Toggle navigation">
            <div class="animated-icon1"><span></span><span></span><span></span></div>
        </button>
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img class="logo" alt="logo" src="{{ asset('build/images/logo.png') }}"/>
        </a>
        {% include 'parts/_language.html.twig' %}
        <div class="collapse navbar-collapse text-uppercase" id="navbarSupportedContent22">
            <ul class="navbar-nav mr-auto">
                {{ render_esi(url('menu')) }}
            </ul>
            <ul class="navbar-nav mr-auto">
                {% if not app.user %}
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'security_login' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('security_login') }}">
                            <i class="fas fa-sign-in-alt"></i>
                            {{ 'menu.login'|trans }} {% if app.request.attributes.get('_route') == 'security_login' %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    {{ dump(app.request.attributes.get('_route')|split('_')) }}
{#                    <li class="nav-item {% if app.request.attributes.get('_route')|split('_')[1] == 'registration' %}active{% endif %}">#}
{#                        <a class="nav-link" href="{{ path('security_login') }}">#}
{#                            <i class="fas fa-sign-in-alt"></i>#}
{#                            {{ 'menu.login'|trans }} {% if app.request.attributes.get('_route') == 'security_login' %}<span class="sr-only">(current)</span>{% endif %}#}
{#                        </a>#}
{#                    </li>#}
                {% else %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('easyadmin') }}">
                                <i class="fas fa-tachometer-alt"></i>
                                {{ 'menu.admin'|trans }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            <i class="fas fa-sign-out-alt"></i>
                            {{ 'menu.logout'|trans }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
